*{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	display: block;
}  
.waimai13{
    width: 100%;
    height: auto;
}
.header{
    width:100%;
    height: 3.04rem;
    background:#17e2d6;
    position: relative;
}
.header .top{
	width:100% ;
	height: 0.4rem;
	display: flex;
	align-items: center;
	background: #1ce8d6;
}
.header .top img{
	width: 7.04rem;
	height: 0.23rem;
	margin: 0 auto;
}
.header .bottom{
    width: 6.69rem;
    height: 0.9rem;
    margin:0 auto;
    display: flex;
    align-items: center;
}
.header span{
    display: block;
    width: 3rem;
    height: 0.59rem;
    font-size:0.33rem;
    line-height: 0.59rem;
    color:#fff;
    text-indent: 1.2em; 
}
.header .pay{
    width:7.04rem;
    height:1.4rem;
    margin:0 auto;
    background-image: url(../img/外卖13/矩形-2.png);
    background-size: 7.04rem 1.4rem;
    position: absolute;
    left:0.23rem;
    top:2.3rem;
}
.header .pay img{
    width: 0.42rem;
    height: 0.46rem;
    margin-top:0.56rem;
    margin-left:0.52rem;
    float:left;
}
.header .pay span{
    display: block;
    font-size: 0.3rem;
    color:#000;
    line-height:1.4rem;
    float:left;
    margin-left: 0.56rem;
    margin-right: 0.65rem;
}
.header .pay p{
    display: block;
    font-size: 0.3rem;
    color:red;
    line-height:1.4rem;
    float:left;
}
.photo{
    width: 7.04rem;
    height: 4.86rem;
    display: flex;
    padding-top: 0.3rem;
    justify-content: center;
    align-items: center;
    position: relative;
}
.photo img{
    width: 5.88rem;
    height: 3.64rem;
}
.photo .box{
    position: absolute;
    left:2.11rem;
    bottom:0.9rem;
    width: 3.69rem;
    height: 0.3rem;
    margin:0 auto;
    display: flex;
}
.photo .box .yuan{
    width: 0.11rem;
    height: 0.11rem;
    border-radius: 50%;
    margin-right: 0.07rem;
    background:#cecaca;
    margin-top: 0.1rem;
}
.photo .box .yuan:nth-of-type(2){
    background:#88956f;
}
.photo .box .yuan:nth-of-type(3){
    background:#03ac3e;
}
.photo .box span{
    display: block;
    width: 2.8rem;
    height: 100%;
    text-align: center;
    font-size: 0.23rem;
}
.photo .box .yuan1{
    width: 0.11rem;
    height: 0.11rem;
    border-radius: 50%;
    margin-left: 0.07rem;
    background:#cecaca;
    margin-top: 0.1rem;
}
.photo .box .yuan1:nth-child(6){
    background:#88956f;
}
.photo .box .yuan1:last-child{
    background:#03ac3e;
}
.input{
    width: 4.34rem;
    height: 0.58rem;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}
.input .con{
    width: 0.52rem;
    height: 0.58rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}
.input .con .son1{
    width:0.15rem;
    height: 0.15rem;
    border-radius: 50%;
    background:#cecaca;
}
.input .con .son2{
    width:0.15rem;
    height: 0.15rem;
    font-size: 0.2rem;
    font-weight: bold;
    line-height: 0.15rem;
}
.input .con .son3{
    width:0.15rem;
    height: 0.15rem;
    font-size: 0.2rem;
}
.input .con .grandson{
    width: 100%;
    height: 0.05rem;
    border-radius: 0.05rem;
    background:#cecaca;
}
.input .con:nth-child(3) .grandson{
    background: #828080;
}
.key{
    width: 100%;
    height: 4.3rem;
    background: #dcdfe5;
    margin-top:0.55rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.key .con{
    width: 7.04rem;
    height: 4.06rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.key .con .son{
    width: 2.3rem;
    height: 0.94rem;
    border-radius: 0.1rem;
    background: #fff;
}
.key .con .son span{
    display: block;
    font-size: 0.38rem;
    text-align: center;
    font-weight: bold;
}
.key .con .son p{
    margin-top: 0.05rem;
    font-size: 0.23rem;
    text-align: center;
    font-weight: bold;
}
.key .con .son img{
    width: 0.68rem;
    height: 0.42rem;
    margin:0.2rem auto;
}
.key .con .son:nth-child(10),.key .con .son:nth-child(12){
    background:#dcdfe5;
}
.key .con .son:nth-child(11){
    line-height: 0.94rem;
}